<!-- Progress spinner while API gets loaded -->
<app-dashboard-loader [apiLoadedStatus]='apiLoadedStatus'></app-dashboard-loader>

<!-- Dashboard to display server details -->
<mat-drawer-container *ngIf="!apiLoadedStatus">
    
    <!-- Drawer elements which are displayed through the app-server-component -->
    <mat-drawer #drawer mode="side">
        <div class="mat-title">Server status</div>
        <app-server-component [mainStacks]="mainStacks"></app-server-component>
    </mat-drawer>
    
    <!-- Main server content -->
    <mat-drawer-content>
        
        <!-- *ngFor directive iterates through the main stacks -->
        <div class="stack-main" *ngFor="let mainStack of mainStacks">
            
            <!-- Titles of the main stacks in uppercase (STACK 1 AND STACK 2) -->
            <h2 class="stack-name">{{mainStack.name | uppercase}}</h2>
            
            <!-- Individual servers inside main stack (Old Stack, New Gen Stack)-->
            <div *ngFor="let subStacks of mainStack.children">
                <div class="stack-server-btn">
                    <h3 class="mat-h3">{{subStacks.name | uppercase}}</h3>
                </div>
                
                <!-- Type of server (Backend, Frontend or Admin server) -->
                <span *ngFor="let servers of subStacks.children">
                    <div class="server-type">
                        <span class="server-type-wrap">
                            <h4 class="mat-h4">{{servers.name}}</h4>                    
                            
                            <!-- Server and status -->
                            <div class="expanded" *ngFor="let server of servers.children">
                                <h4 class="mat-h4">
                                    {{server.name}}
                                    <span *ngIf="server.startButton==='enabled'">(Offline)</span>
                                    <span *ngIf="server.stopButton==='enabled'">(Online)</span>
                                </h4>
                                
                                <!-- Start and stop buttons -->
                                <div class="server-button">
                                    <button mat-raised-button
                                            matTooltip="Click to start the server"
                                            class="btn-start"
                                            (click)="updateStartButton(server)"
                                            [disabled]="server.startButton === 'disabled'">
                                            start
                                    </button>
                                    <button mat-raised-button
                                            matTooltip="Click to stop the server"
                                            class="btn-stop" 
                                            (click)="updateStopButton(server)" 
                                            [disabled]="server.stopButton === 'disabled'"
                                            color="warn">
                                            stop
                                    </button>
                                </div>
                            </div>
                        </span>
                    </div>
                    <br>
                </span>
            </div>
        </div>    
    </mat-drawer-content>
</mat-drawer-container>